.btn {
  // @include center;
  @include ff-medium;
  border-radius: 3rem;
  color: $black;
  background-color: $white;
  text-decoration: none;
  padding: 0.6rem 1.5rem 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1;
  
  &.donate {
    color: $white;
    background-color: $orange;
  }
}