.conferences-workshops {
  .layout-wrapper {
    display: flex;

    & > * {
      flex: 1 1 50%;
    }
  }

  .conferences-workshops__description {
    padding-right: $gap-padding;
  }

  .conferences-workshops__events {
    width: 100%;

    .event {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1.5rem 0;
      border-top: 1px solid rgba($white, 0.25);
      
      &:first-of-type {
        margin-top: 0.75rem;
      }

      .event__title {
        @include ff;
        font-size: 1.5rem;
        color: $white;
        margin: 0;
      }
    }
    
    .view-more {
      text-decoration: none;
      display: block;
      border-top: 1px solid rgba($white, 0.25);
      padding: 1.5rem 0;
      
      p {
        @include transition;
        margin: 0;
      }

      &:hover {
        p {
          color: $white;
        }
      }
    }
  }
}