.conferences-workshops {
	.layout-wrapper {
		display: flex;

		& > * {
			flex: 1 1 50%;
		}
	}

	.conferences-workshops__description {
		padding-right: calc(2 * #{$gap-padding});
	}
}

@include md {
	.conferences-workshops {
		.layout-wrapper {
			flex-direction: column;
		}

		.conferences-workshops__description {
			padding: 0;
			margin-bottom: 2rem;

			.btn {
				margin: 0 auto;
			}
		}
	}
}
