$hero-image-ratio: 304 / 490;

.hero .layout-wrapper {
  display: flex;
  align-items: center;

  .hero-text {
    font-size: 2rem;
    font-size: clamp(1rem, 2vw, 2rem);
    margin-right: $gap-padding;
    flex-basis: 50%;
  }

  .hero-image {
    flex: 50%;
    max-width: 550px;

    .image-wrapper {
      height: 0;
      padding-top: calc(100% * #{$hero-image-ratio});
      position: relative;

      &::after {
        content: url("../../images/dotted-frame.svg");
        @include full-span;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: -1;
      }

      .image {
        @include full-span;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../../images/hero-image.png");
        background-position: center;
        background-size: cover;
      }
  
      img {
        @include full-span;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}