.hero .layout-wrapper {
  display: flex;
  align-items: center;

  .hero-text {
    font-size: 2rem;
    margin-right: $gap-padding;
    flex-basis: 50%;
  }

  .hero-image {
    flex: 50%;
    max-width: 550px;

    .image-wrapper {
      height: 0;
      padding-top: calc(100% * (304 / 490));
      position: relative;
      object-position: center;
      object-fit: cover;

      &::after {
        content: url("../../images/dotted-frame.svg");
        @include full-span;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: -1;
      }
  
      img {
        @include full-span;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}