header {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 100%;
	background-color: $white;
	z-index: 2;

	.section {
		padding: 0 $section-padding;

		.container {
			height: $header-height;
		}
	}
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: $container-width;
	height: 100%;

	.logo {
		display: flex;
		align-items: center;

		&__wrapper {
			width: 2.5rem;

			svg {
				@include full-span;
			}
		}

		&__text-wrapper {
			margin-left: 1rem;

			.logo-wordmark {
				text-transform: uppercase;
				font-family: $ff-medium;
				margin: 0;
				font-size: 1.25rem;
				font-weight: 600;
			}
		}
	}

	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.nav-links {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.9rem;

		.nav-link {
			margin-right: 1.5rem;
			position: relative;
			// @include hover1;
			@include hover2;

			&.active {
				color: $blue;
			}

			a {
				font-family: $ff-medium;
				padding: 0.5rem 0;
				text-decoration: none;
				color: inherit;

				&.btn.donate {
					display: inline-block;
					color: white;
				}
			}
		}
	}
}

@include lg {
	.main-nav {
		display: none;
	}
}
