$gray-border: 1px solid rgba($gray, 0.5);

header {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 100%;
	background-color: $white;
	z-index: 2;

	.section {
		padding: 0 $section-padding;

		.container {
			height: $header-height;
		}
	}

	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: $container-width;
	height: 100%;

	.nav-links {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.9rem;

		.nav-link {
			margin-right: 1.5rem;
			position: relative;
			// @include hover1;
			@include hover2;

			&.active {
				color: $blue;
			}

			a {
				font-family: $ff-medium;
				padding: 0.5rem 0;
				text-decoration: none;
				color: inherit;

				&.btn.donate {
					display: inline-block;
					color: white;
				}
			}
		}
	}
}

.mobile-nav {
	display: none;
	visibility: hidden;

	.menu-icon {
		@include square-span(1rem);
		background-color: $blue;
		padding: 1rem;
		border-radius: 3rem;

		svg {
			margin-top: 2px;
		}
	}
}

.logo {
	display: flex;
	align-items: center;

	&__wrapper {
		width: 2.5rem;

		svg {
			@include full-span;
		}
	}

	&__text-wrapper {
		margin-left: 1rem;

		.logo-wordmark {
			text-transform: uppercase;
			font-family: $ff-medium;
			margin: 0;
			font-size: 1.25rem;
			font-weight: 600;
		}
	}
}

@include lg {
	header {
		.section {
			padding: 0 4vw;
		}

		.container {
			margin: 0;
		}
	}

	.main-nav {
		display: none;
		visibility: hidden;
	}

	// * {
	// 	outline: 1px solid red;
	// }

	.mobile-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		visibility: visible;
		max-width: $container-width;
		height: 100%;
		position: relative;

		.menu-toggle {
			position: absolute;
			top: -999px;
			left: -999px;

			&:focus {
				& ~ .menu-button {
					outline: 3px solid rgba(lightblue, 0.75);
				}
			}

			&:checked ~ .nav-links {
				display: block;
			}
		}

		.menu-button {
			display: flex;
			align-items: center;
			z-index: 2;
		}

		.nav-links {
			display: none;
			@include full-span;
			position: fixed;
			top: $header-height;
			left: 0;
			z-index: 1;
			background-color: rgba($black, 0.5);
			backdrop-filter: blur(10px);
			min-height: 100vh;
			max-width: 100vw;

			.nav-link {
				height: 60px;
				text-align: center;
				background-color: $white;
				border-top: $gray-border;
				position: relative;

				&:first-of-type {
					border-top: $gray-border;
				}

				a {
					@include full-span;
					display: flex;
					align-items: center;
					justify-content: center;
					top: 0;
					left: 0;
					position: absolute;
				}
			}

			.btn {
				border-radius: 0;
				padding: 0;
				height: 60px;
				border-top: $gray-border;
				border-bottom: $gray-border;
			}
		}
	}
}

@include sm {
	header {
		position: fixed;
		top: 0;
		margin: 0 auto;
		width: 100%;
		background-color: $white;
		z-index: 2;

		.section {
			padding: 0 2rem;
		}
	}
}
