$gray-border: 1px solid rgba($gray, 0.5);
$nav-divider-height: 2px;

header {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 100%;
	background-color: $white;
	z-index: 2;

	.section {
		padding: 0 $section-padding;

		.container {
			height: $header-height;
		}
	}

	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.nav-divider {
	position: fixed;
	top: calc(#{$header-height} - #{$nav-divider-height});
	margin-top: auto;
	background-color: $white;
	width: 100%;
	height: calc(2 * #{$nav-divider-height});
	z-index: 1;

	.divider {
		position: sticky;
		top: 0;
		background-color: $blue;
		width: 100%;
		height: $nav-divider-height;
	}
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: $container-width;
	height: 100%;

	.logo {
		display: flex;
		align-items: center;

		&__wrapper {
			width: 2.5rem;

			svg {
				@include full-span;
			}
		}

		&__text-wrapper {
			margin-left: 1rem;

			.logo-wordmark {
				text-transform: uppercase;
				font-family: $ff-medium;
				margin: 0;
				font-size: 1.25rem;
				font-weight: 600;
			}
		}
	}

	.menu-toggle {
		position: absolute;
		top: -999px;
		left: -999px;
	}

	.menu-button {
		display: none;

		.menu-icon {
			@include square-span(1rem);
			background-color: $blue;
			padding: 1rem;
			border-radius: 3rem;

			svg {
				margin-top: 2px;
			}
		}
	}

	.nav-links {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.9rem;

		.nav-link {
			margin-right: 1.5rem;
			position: relative;
			// @include hover1;
			@include hover2;

			&.active {
				color: $blue;
			}

			a {
				font-family: $ff-medium;
				padding: 0.5rem 0;
				text-decoration: none;
				color: inherit;

				&.btn.donate {
					display: inline-block;
					color: white;
				}
			}
		}
	}
}

@include lg {
	header {
		.section {
			padding: 0 4vw;
		}

		.container {
			margin: 0;
		}
	}

	.main-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		visibility: visible;
		max-width: $container-width;
		height: 100%;
		position: relative;

		.menu-toggle {
			&:focus {
				& ~ .menu-button {
					outline: 3px solid rgba(lightblue, 0.75);
				}
			}

			&:checked ~ .nav-links {
				transform: translateY(0);
				opacity: 1;
			}
		}

		.menu-button {
			display: flex;
			align-items: center;
			z-index: 2;
		}

		.nav-links {
			@include full-span;
			@include transition;
			position: fixed;
			align-items: unset;
			flex-direction: column;
			top: $header-height;
			left: 0;
			z-index: 1;
			backdrop-filter: blur(10px);
			opacity: 0;
			transform: translateY(-100%);

			.nav-link {
				height: 60px;
				text-align: center;
				background-color: $white;
				border-top: $gray-border;
				position: relative;
				margin-right: 0;

				&::before {
					display: none;
				}

				&:first-of-type {
					border-top: $gray-border;
				}

				&.active {
					&:active a {
						color: $white;
					}

					a {
						color: $blue;
					}
				}

				&:active {
					background-color: $blue;
					color: white;
				}

				a {
					@include full-span;
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					top: 0;
					left: 0;
					padding: 0;
				}
			}

			.btn.donate {
				border-radius: 0;
				padding: 0;
				height: 60px;
				border-top: $gray-border;
				border-bottom: $gray-border;

				&:hover {
					transform: none;
					background-color: $orange;
				}
			}
		}
	}
}

@include sm {
	header {
		top: 0;
		margin: 0 auto;
		width: 100%;
		background-color: $white;
		z-index: 2;

		.section {
			padding: 0 2rem;
		}
	}
}
