.programs {
	.layout-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		width: 100%;
		grid-gap: $gap-padding;
	}
}

@include md {
	.programs {
		.layout-wrapper {
			margin: calc(3 * #{$gap-padding}) 0;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-gap: calc(1.5 * #{$gap-padding});
		}
	}
}

@include sm {
	.programs {
		.layout-wrapper {
			margin: $gap-padding 0;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-gap: $gap-padding;
		}
	}
}
