// Variables
$container-width: 1400px; 
$header-height: 100px;
$gap-padding: 2rem;

body {
  background: $white;
  font-family: $ff;
}

.section {
  padding: 80px;

  &.bg-blue {
    background-color: $blue;
    
    h2 {
      color: $white;
      text-align: center;
    }

    p {
      color: $blue-light;
    }
  }

  &.bg-black {
    background-color: $black;
    
    h2, h3, p, a {
      color: $white;
    }

    p, a {
      opacity: 0.8;
    }

    // p {  
    //   -webkit-font-smoothing: antialiased;
    //   -moz-osx-font-smoothing: grayscale;
    // }
  }

}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

main {
  margin-top: $header-height;
}

a {
  color: inherit;
  text-decoration: none;
}