// Variables
$section-padding: 80px;
$container-width: 1400px;
$header-height: 100px;
$gap-padding: 1.5rem;

body {
  background: $white;
  font-family: $ff;
}

::selection {
  color: $white;
  background-color: $orange;
  opacity: 1;
}

.section {
  padding: $section-padding;

  &.bg-blue {
    background-color: $blue;
    
    h2 {
      color: $white;
      text-align: center;
    }

    p {
      color: $blue-light;
    }
  }

  &.bg-black {
    background-color: $black;
    
    h2, h3, p, a {
      color: $white;
    }

    p, a {
      opacity: 0.8;
    }
  }

}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 2rem;
}

main {
  margin-top: $header-height;
}

a {
  color: inherit;
  text-decoration: none;
}