// Import Google Font
@font-face {
	font-family: "Overpass";
	src: url("../../fonts/Overpass-Regular.ttf");
}

@font-face {
	font-family: "OverpassBold";
	src: url("../../fonts/Overpass-Bold.ttf");
}

@font-face {
	font-family: "LoraBold";
	src: url("../../fonts/Lora-Bold.ttf");
}

$ff: "Overpass", Avenir, Helvecitca Neue, sans-serif;
$ff-medium: "OverpassBold", Avenir, Helvecitca Neue, sans-serif;
$ff-headings: "LoraBold", Avenir, Helvecitca Neue, sans-serif;

@mixin ff {
	font-family: $ff;
}

@mixin ff-medium {
	font-family: $ff-medium;
}

@mixin ff-headings {
	font-family: $ff-headings;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	color: $black;
	font-weight: unset;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
ul,
li,
a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
	font-family: $ff-headings;
}

h1 {
	font-size: 3.5rem;
	margin-bottom: 1.25rem;
	line-height: 1;
}

h2 {
	font-size: 2.5rem;
	margin-bottom: 3rem;
}

h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

p {
	line-height: 1.8;
	font-size: 1.1rem;
	color: $gray;
	font-weight: 300;
	max-width: 60ch;
	margin-top: 0;
	margin-bottom: 2rem;
}

@include lg {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.2rem;
	}

	h3 {
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
		margin-bottom: 1.5rem;
	}
}

@include md {
	p {
		max-width: unset;
	}
}
