// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Overpass:wght@300;600&display=swap');

// Font Weights
// Overpass: 300, 600
// Lora: 600, 700

$ff: 'Overpass', Avenir, Helvecitca Neue, sans-serif;
$ff-headings: 'Lora', Avenir, Helvecitca Neue, sans-serif;

@mixin ff {
  font-family: $ff;
  font-weight: 300;
}

@mixin ff-medium {
  font-family: $ff;
  font-weight: 600
}

@mixin ff-headings {
  font-family: $ff-headings;
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0; 
  color: $black;
  font-weight: unset;
}

h1, h2 {
  font-family: $ff-headings;
}

h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

p {
  line-height: 1.8;
  font-size: 1.2rem;
  color: $gray;
  font-weight: 300;
  max-width: 60ch;
  margin-top: 0;
}