$bai-blue:           #007299;
$bai-blue__light:    #c5ebf9;
$bai-white:          #fff;
$bai-orange:         #f18f01;
$bai-gray:           #666;
$bai-black:          #1f2421;

$blue:                 $bai-blue;
$blue-light:           $bai-blue__light;
$white:                $bai-white;
$orange:               $bai-orange;
$gray:                 $bai-gray;
$black:                $bai-black;

// Social Media Brand Colors
$facebook-blue: #3b5998;
$twitter-blue: #1da1f2;